@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.public-navbar {
  background-color: #ffff;
  padding: 16px 32px;  
  border:  solid 1px whitesmoke ;
}
.public-navbar a{
  color: #363232 ;
  margin-right: 16px;
  text-decoration: none;
}
.public-navbar a:hover{
  color: #8d6f6f;
}
.primary-link {
  background-color: #ffff;
  padding: 16px 32px;  
  border:  solid 1px whitesmoke ;
}
.primary-link a.nav-link {
  color: #363232 !important;
}
.primary-link a.nav-link:hover {
  color: #8d6f6f !important;
}
nav{
  font-family: "Inter";
}

nav a {
  margin-right: 16px;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button-block {
  display: block;
  margin: 25px 0px;
}

.button-block:hover{
    box-shadow: 0 0 5px rgba(205, 14, 148, 0.2);
    background-color: rgb(244, 235, 244);
    color: purple;
}

.button {
  border: 1px solid #999;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-update, .btn-delete {
  width: 80px;
  padding: 7px 5px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.2s;
  text-align: center;
}

.btn-update {
  background-color: #3498db;
  color: white;
}

.btn-update:hover {
  background-color: #2980b9;
}

.btn-delete {
  background-color: #e74c3c;
  color: white;
}

.btn-delete:hover {
  background-color: #c0392b;
}


.table-title {
  text-align: center;
  margin-bottom: 25px;
}

.saerch-input {
  padding: 5px;
  display: block;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

.no-button {
  background-color: #ddd !important;
  color: #111 !important;
  border: none !important;
  margin-right: 20px;
}

.no-button:hover {
  background-color: #ccc !important;
}

.yes-button {
  background-color: red !important;
  border: none !important;
}

.yes-button:hover {
  background-color: crimson !important;
}

.pag-container {
  margin: 15px;
}

.pag-button {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-right: 15px;
}

.pag-button:hover {
  background-color: #ccc;
}

.forgot-password {
  color: #111;
  text-decoration: none;
}
.forgot-password:hover{
color: purple;
}

.btn-general:hover{
  transform: translateY(-2px);

}

.card-text {
  display: -webkit-box;        
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;        
  overflow: hidden;            
}
